# Ignore Everything
**

# Include Essential Gateway Files
!/types.graphql
!/codegen.yml
!/yarn.lock
!/package.json
!/tsconfig.json
!/src/**
!/cassandra/**
!/.env
!/patches

# Ignore Unnecessary Files
**/*.log
**/.DS_Store
**/Thumbs.db
