ARWEAVE_NODES=["http://lon-2.eu-west-1.arweave.net:1984"]
PORT=1248
PARALLEL=32
POLLTIME_DELAY_SECONDS=5
DB_TIMEOUT=30
HTTP_TIMEOUT_SECONDS=15
CASSANDRA_CONTACT_POINTS=["localhost:9042"]
KEYSPACE=gateway
CASSANDRA_USERNAME=cassandra
CASSANDRA_PASSWORD=cassandra
