dist
node_modules
package-lock.json
.env
.cache
cache/*
.rescan
.postgres
logs
/data
src/graphql/types.ts
snapshot
.snapshot
.import
*.temp
.nyc_output
.private

**/*.log
**/.DS_Store
**/Thumbs.db

# Webstorm
.idea

## nix
result

# emacs
*#
