dist
node_modules
package-lock.json
.env
.cache
cache/*.csv
cache/*.json
.rescan
.postgres
logs
/data

snapshot
.snapshot
.import
*.temp
.nyc_output

**/*.log
**/.DS_Store
**/Thumbs.db

# Webstorm
.idea

## nix
result

# emacs
*#
